<!DOCTYPE html>
<html>
<head>
    <title>Save Confirmation</title>
</head>
<body>
    <h1>{{message}}</h1>

    <div class="button-container">
        <a href="/subscription">
            <button type="button">Get Started</button>
        </a>
        <a href="/profile">
            <button type="button">View Profile</button>
        </a>
    </div>
    
</body>
</html>